build/
build-*/
spec-review/
cmake-build-*/
*.user
*.autosave
.idea/
.vscode/
*.db
*.o
*.a
*.so
*.AppImage
.DS_Store
Makefile
Makefile.*
.qmake.stash
moc_*.cpp
moc_*.h
qrc_*.cpp
object_script.*
*.Debug
*.Release
